.options-container {
    text-align: center;
}

.option {
    margin: 10px 0;
}

.option-button {
    background-color: #0A1929;
    color: #FFF;
    padding: 8px 16px !important;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.option-button:hover {
    background-color: #06101D;
}

.nested-options {
    display: none;
    margin-top: 10px;
    padding: 10px;
}

.nested-option {
    background-color: #0A1929;
    color: #FFF;
    padding: 6px 12px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.nested-option:hover {
    background-color: #06101D;
}