body, html {
    height: 100%;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%; /* You can adjust this value to change the width of the form */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: transparent;
}



.logbib-button {
    background-color: cornflowerblue;
    border: none;
    text-align: center;
    color: white;
    width: 50%;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
}

.logbib-button:hover {
    background-color: #79bbff;
}

.button-row {
    text-align: center;
}
