<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/webschedule</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.datasource">jdbc/webschedule</property>
        <property name="connection.username">root</property>
        <property name="connection.password">gekz007</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="com.risonna.schedulewebapp.hibernate.entity.Users"/>
        <mapping class="com.risonna.schedulewebapp.hibernate.entity.Lesson"/>
        <mapping class="com.risonna.schedulewebapp.hibernate.entity.AdminTeacher"/>
        <mapping class="com.risonna.schedulewebapp.hibernate.entity.Cabinet"/>
        <mapping class="com.risonna.schedulewebapp.hibernate.entity.Group"/>
        <mapping class="com.risonna.schedulewebapp.hibernate.entity.Subject"/>
        <mapping class="com.risonna.schedulewebapp.hibernate.entity.Teacher"/>
        <mapping class="com.risonna.schedulewebapp.hibernate.entity.UsersGroups"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>